<div class="d-flex align-items-center justify-content-center w-100p nav-border">
    <video autoplay muted loop id="myVideo" class="w-100">
        <source src="/static/video/123.mp4" type="video/mp4">
        <source src="/static/video/123.ogg" type="video/ogg">
        Your browser does not support HTML5 video.
    </video>

    <div class="content d-flex flex-column align-items-center justify-content-center">
        <div class="w-100 d-flex justify-content-center" style="height:200px">
            <img src="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/playnow-global/en_US/cbe4e8d0768d5d7a7673d095daec915fe2f828ea/assets/img/lol-logo.png" alt="">
        </div>
        <h1 style="font-size: 60px ">LEAGUE OF LEGEND</h1>
        <br>
        <h2>JOIN THE LEGEND</h2>
        <h2>BECOMING A LEGEND
        <br>
        </h2>
        <a href="{{ url_for('homepage') }}" class="text-primary">
            <button class="myBtn myBtn1">Reading More</button>
        </a>
        <br>
    </div>  
</div>