<div class="d-flex align-items-center justify-content-center w-100p nav-border">
    <video autoplay muted loop id="myVideo" class="w-100">
        <source src="/static/video/123.mp4" type="video/mp4">
        <source src="/static/video/123.ogg" type="video/ogg">
    </video>

    <div class="content d-flex flex-column align-items-center justify-content-center">
        <a href="{{ url_for('homepage')}}"><div class="w-100 d-flex justify-content-center" style="height:200px">
            <img src="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/playnow-global/en_US/cbe4e8d0768d5d7a7673d095daec915fe2f828ea/assets/img/lol-logo.png" alt="">
        </div></a> 
        <h2 class = "font-noto">JOIN THE LEGEND</h2>
        <h2 class = "font-noto">BECOMING A LEGEND</h2>
        <br>
        <a href="{{ url_for('homepage') }}" class="text-primary">
            <button class="myBtn myBtn1 font-noto">Tìm hiểu thêm</button>
        </a>
        <br>
    </div>  
</div>