.bg-homepage-1{
    background-image: url(../image/homepage-bg-1.jpg);
    min-height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-lightpink{
    background-color: lightcoral;
}

.w-15{
    width: 15%;
}

.top-40px{
    top: 15%;
}