<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thay đổi mật khẩu</title>
</head>
<body>
    <h1>Thay đổi mật khẩu</h1>
    <form method ="POST">
        <label>Mật khẩu hiện tại:</label>
        <br>
        <input type="password" name="current_password">
        <br>
        <label>Mật khẩu mới:</label>
        <br>
        <input type="password" name="new_password">
        <br><label>Xác nhận mật khẩu mới:</label>
        <br>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>