<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
</head>
<body>
    <h2>Trang quản lý thông tin người dùng</h2>
    <a href="{{ url_for('change_password')">Thay đổi mật khẩu</a>
    <form method="POST">
        <label>Fullname:</label> <br>
        <input type="text" name="fullname" placeholder="{{ user.fullname }}">
        <br>
        <label>Yob:</label> <br>
        <input type="text" name="yob" placeholder="{{ user.yob }}">
        <br>
        <label>Email:</label> <br>
        <input type="email" name="email" placeholder="{{ user.email }}">
        <br>
    </form>
</body>
</html>