<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đọc báo theo cách của bạn</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% include "nav-bar.html" %}
    <h1>Trang homepage đọc báo</h1>
    <div class="bg-homepage-1 mb-3"></div>
    <div class="bg-product d-flex">
        <div class="w-10 bg-light h-25 sticky-top top-40px"> akjsdhkasjdhakjd</div>
        <div class="card-columns container p-3 mx-3">
            <!-- Card 1 -->
            <a href="{{ url_for('template', article_id = articles[1].id) }}">
                <div class="card">
                    <img class="card-img-top" src="{{ articles[1].thumbnail }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ articles[1].title }}</h5>
                        <p class="card-text">{{ articles[1].sapo }}</p>
                        <p class="card-text"><small class="text-muted">{{ articles[1].time }} - {{ articles[1].author }}</small></p>
                    </div>
                </div>
            </a>
            <!-- Card 2 -->
            <a href="{{ url_for('template', article_id = articles[3].id) }}">
                <div class="card">
                    <img class="card-img-top" src="{{ articles[3].thumbnail }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ articles[3].title }}</h5>
                        <p class="card-text">{{ articles[3].sapo }}</p>
                        <p class="card-text"><small class="text-muted">{{ articles[3].time }} - {{ articles[3].author }}</small></p>
                    </div>
                </div>
            </a>
            <!-- Card 3 -->
            <a href="{{ url_for('template', article_id = articles[0].id) }}">
            <div class="card">
                <img class="card-img-top" src="{{ articles[0].thumbnail }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ articles[0].title }}</h5>
                    <p class="card-text">{{ articles[0].sapo }}</p>
                    <p class="card-text"><small class="text-muted">{{ articles[0].time }} - {{ articles[0].author }}</small></p>
                </div>
            </div>
            </a>
            <!-- center card -->
            <div class="card bg-primary text-white text-center p-3">
                <h4>Tin Game</h4>
                <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                    <footer class="blockquote-footer">
                        <small>
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
            </blockquote>
            </div>
            <!-- Card 4 -->
            <a href="{{ url_for('template', article_id = articles[2].id) }}">
                <div class="card">
                    <img class="card-img-top" src="{{ articles[2].thumbnail }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ articles[2].title }}</h5>
                        <p class="card-text">{{ articles[2].sapo }}</p>
                        <p class="card-text"><small class="text-muted">{{ articles[2].time }} - {{ articles[2].author }}</small></p>
                    </div>
                </div>
            </a>
            <!-- Card 5 -->
            <div class="card p-3 text-right">
                <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <!-- Card 6 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="card">
                <img class="card-img-top" src="../static/image/card1.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>