<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to our Newspaper</title>
    {% include 'meta-data.html' %}
</head>
<body>
    <div class="d-flex align-items-center justify-content-center">
        {% include "index/video.html" %}
    </div>
        <div class="h-10 bg-primary">
    </div>
    <div class= "d-flex-wrap bg-mission">
        {% include "index/mission.html" %}
    </div>
    </div>
        <div class="h-10 bg-primary">
    </div>
    {% include "index/product_thanks.html" %}
</body>
</html>