<nav class="navbar navbar-expand-lg navbar-light bg-dark nav-border sticky-top">
    <div class="collapse navbar-collapse d-flex justify-content-between">
        <div class="d-flex">
            <div>
                <a class="navbar-brand" href="{{ url_for('homepage') }}">
                    <img src="../static/image/logo.png" width="30px" height="30px" class="d-inline-block align-top">
                </a>
            </div>
            <div class="navbar-nav d-flex align-items-center">
                <div class="nav-item">
                    <a class="nav-link text-nav" href="{{ url_for('homepage') }}">Trang chủ</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-nav" href="{{ url_for('profile') }}">Trang cá nhân</a>
                </div>
                <!-- <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-nav" href="#" role="button" data-toggle="dropdown">
                    Dropdown
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-nav2" href="#">Action</a>
                        <a class="dropdown-item text-nav2" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-nav2" href="#">Something else here</a>
                    </div>
                </li> -->
            </div>
        </div>
        <div class="d-flex">
            <div>
                <form method="POST">
                    <input type="form-type" value="search" name="search" class="d-none">
                    <input class="mr-sm-2 text-nav-search p-1" type="text" placeholder=" Tìm kiếm" style="height: 25px" name="keywords">
                    <button class="btn btn-outline text-nav-search p-1" style="height: 25px; line-height: 25px" type="submit">Tìm kiếm</button>
                </form>
            </div>
            <div class="nav-item ">
                <a class="nav-link text-nav disabled" href="{{ url_for('logout') }}">Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>