<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quản lý tài khoản</title>
    {% include "meta-data.html" %}
</head>
<body>
    <form method="POST">
        <label>Mật khẩu hiện thời</label>
        <br>
        <input type="password">
        <br>
        <label>Mật khẩu mới</label>
        <br>
        <input type="password">
        <br>
        <label>Xác nhận mật khẩu mới</label>
        <br>
        <input type="password">
        <br>
        <br>
        <input type="submit" value="Lưu thay đổi">
    </form>
</body>
</html>