<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quản lý tài khoản</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% include "nav-bar.html" %}
    <div>
        <div class="bg-homepage-1" style="opacity:0.5"></div>
        <div class="d-flex h-750px profile d-flex align-items-center">
            <h1 class="text-warning">Thay đổi thông tin người dùng</h1>
            <div class="col-md-4 h-70p product-border">
                <img src="../static/image/user.jpeg" class="img-fluid mt-3">
            </div>
            <div class="col-md-7 h-70p d-flex justify-content-center align-items-center product-border">
                    <div class="m-4">   
                        <table>
                            <tr>
                                <td>Email</td>
                                <td>{{ user_profile.email }}</td>
                            </tr>
                            <tr>
                                <td>Họ và tên</td>
                                <td>{{ user_profile.fullname }}</td>
                            </tr>
                            <tr>
                                <td>Năm sinh</td>
                                <td>{{ user_profile.yob }}</td>
                            </tr>
                            <tr>
                                <td>Cấp thành viên</td>
                                {% if user_profile.level == 0 %}
                                <td>Cấp thành viên: Admin</td>
                                {% elif user_profile.level == 1 %}
                                <td>Cấp thành viên: Moderator</td>
                                {% else %}
                                <td>Cấp thành viên: Thành viên thường</td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                <div class="mt-5">
                    <a href="{{ url_for('change_password', user_id = user_profile.id)}}"><h1>Thay đổi mật khẩu</h1></a>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>