<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User admin</title>
</head>
<body>
    <h1>Admin</h1>
    <h2>User List</h2>
    <table>
        <thead>
            <th>STT</th>
            <th>Name</th>
            <th>Yob</th>
            <th>email</th>
            <th></th>
        </thead>
        <tbody>
            {% for user in users %}
                {% if user.request == True %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ request.fullname }}</td>
                    <td>{{ request.yob }}</td>
                    <td>{{ request.email }}</td>
                    <td>
                        <a href="{{ url_for('approve_user', user_id = user.id) }}">Phê duyệt</a>
                        <a href="{{ url_for('reject_user', user_id = user.id) }}">Từ chối</a>
                    </td>
                </tr>
                {% end if%}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>